article {
    padding: 10px;
    margin: 10px;
    flex-basis: 90%;
    background: rgba(16, 233, 215, 0.178);
}

img, picture, video {
    max-width: 100%;
	width: 100%;
    object-fit: cover;
}

.main-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 50px;
    padding-right: 50px;
}


.article-container {
    position: relative;
    display: inline-block;
	width: 70%;
    /*text-align: center;*/
}

img:not(.nav-bar_list_logo-img) {
    display: block;
    height: 100%;
    padding: 30px;
}

#edit-button, #delete-button {
    min-width: 220px;
    margin: 30px;
    font-size: 15px;
    background: rgba(0, 0, 0, 0.25);
}



