@media(min-width: 900px) {
    .main-container {
        display: grid;
        grid-template-columns: 3fr 1fr;
        align-items: center;
        justify-content: center;
        margin-top: 75px;
        text-overflow: ellipsis;
    }
}


@media(max-width: 900px) {
    .main-container {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        margin-top: 75px;
        text-overflow: ellipsis;
    }


    .big_blocks, .column_blocks{
        padding-left: 10%!important;
        padding-right: 10%!important;
        width: 100%!important;
        margin-right: 0!important;
    }
}

img, picture, video {
    max-width: 100%;
    object-fit: cover;
}


.column_blocks {
    margin-right: 200px;
    width: 67%;
    place-self: center;
    align-items: center;
}

.column_blocks>article {
    padding: 10px;
    margin: 10px;
    overflow: hidden; /* скрываем всё, что выходит за границы */
    text-overflow: ellipsis; /* добавляем троеточие */
    /*white-space: nowrap; !* запрещаем перенос на новую строку *!*/
    max-height: 150px; /* ограничиваем высоту на 200px */
}

.big_blocks {
    padding-left: 25%;
    padding-right: 25%;
    place-self: center;
    align-items: center;

}

.big_blocks > article {
    flex: 1 0 45%; /*  grow, shrink, basis*/
}

article {
    text-decoration: none;
    padding: 10px;
    margin: 10px;
}

#top-news{
    font-weight: bold;
    font-size: 34px;
    color: black;
    text-align: left;
    font-style: italic;
}

.article-container {
    position: relative;
    display: block;
    justify-content: center;
}

#panda-img {
    display: block;
    width: 820px;
    height: 450px;
}

#last-news{
    font-weight: bold;
    font-size: 34px;
    color: black;
    text-align: left;
}








    